<h1>{{title}}</h1>

<table border="1" cellpadding="10" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Role</th>
      <th>Mascotas</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.email}}</td>
        <td>{{this.role}}</td>
        <td>
          {{#if this.pets}}
            {{#if this.pets.length}}
              {{#each this.pets}}
                <span>{{this._id.name}}</span>
              {{/each}}
            {{else}}
              <em>Sin mascotas</em>
            {{/if}}
          {{else}}
            <em>Sin mascotas</em>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>